<h2>Votre panier</h2>

<p>
    <a [routerLink]="['/shipping']">
        Frais d'expéditions
    </a>
</p>

<div *ngIf="items.length > 0">
    <div class="list-group items-list">
        <a *ngFor="let game of items" [routerLink]="['/games', game.id]" class="list-group-item list-group-item-action">
          {{ game.name }} ({{ game.price }} €)
        </a>
    </div>

    <h3>Vos informations</h3>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Nom :</label>
            <div class="col-sm-10">
                <input id="name" formControlName="name" type="text" class="form-control" placeholder="John Doe" required />
                <label *ngIf="name.invalid && (name.dirty || name.touched) && name.errors.required" class="error">Veuillez saisir votre nom</label>
            </div>   
        </div>
        <div class="form-group row">
            <label for="mail" class="col-sm-2 col-form-label">Email :</label>
            <div class="col-sm-10">
                <input id="mail" formControlName="mail" type="mail" class="form-control" placeholder="john.doe@mail.com" required />
            </div>   
        </div>
        <div class="form-group row">
            <label for="mail" class="col-sm-2 col-form-label">Type d'expédition :</label>
            <div class="col-sm-10">
                <select id="shipping-type" (change)="display()" formControlName="shippingType" class="form-control" required>
                    <option [ngValue]="null" disabled>Choisissez un type d'expédition</option>
                    <option *ngFor="let shippingType of shippingTypes | async" [ngValue]="shippingType">{{ shippingType.type }}</option>
                </select>
            </div> 
        </div>

        <div *ngIf="checkoutForm.value.shippingType.needAddress" class="address-informations">
            <hr>
            <div class="form-group row">
                <label for="city" class="col-sm-2 col-form-label">Ville :</label>
                <div class="col-sm-10">
                    <input id="city" formControlName="city" type="text" class="form-control" placeholder="Paris" required />
                </div>   
            </div>
            <div class="form-group row">
                <label for="zip-code" class="col-sm-2 col-form-label">Code postal :</label>
                <div class="col-sm-10">
                    <input id="zip-code" formControlName="zipCode" type="number" class="form-control" placeholder="75000" required />
                </div>   
            </div>
            <div class="form-group row">
                <label for="street" class="col-sm-2 col-form-label">Rue :</label>
                <div class="col-sm-10">
                    <input id="street" formControlName="street" type="text" class="form-control" placeholder="4 rue des bois" required />
                </div>   
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Commander</button>
    </form>
</div>

<p *ngIf="items.length == 0">
    Vous n'avez rien dans votre panier !
</p>