<div *ngIf="game">
    <h2>Détail de {{ game.name }}</h2>
    <h3 class="text-muted">{{ game.price }} €</h3>
    <p>{{ game.description }}</p>

    <button class="btn btn-primary" (click)="addToCart(game)">Acheter</button>
</div>