<h2>Jeux</h2>

<div *ngFor="let game of games | async">
    <div class="card game-card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">
                <a [title]="'Détails de ' + game.name" [routerLink]="['/games', game.id]">
                    {{ game.name }}
                </a>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ game.price }} €</h6>
            <p class="card-text" *ngIf="game.description">
                <b>Description</b> : <em>{{ game.description }}</em>
            </p>
            <a class="card-link" (click)="share()" href="#">
                Partager
            </a>
            <app-game-alerts 
                [game]="game" 
                (notify)="onNotify()">
            </app-game-alerts>
        </div>
    </div>
</div>