<h3>Frais d'expéditions</h3>

<div class="list-group">
    <a *ngFor="let shippingCost of shippingCosts | async" class="list-group-item list-group-item-action">
      {{ shippingCost.type }} ({{ shippingCost.price }} €)
    </a>
</div>
